body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
a,
ul {
  list-style-type: none;
  text-decoration: none;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.address {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  margin-right: 76px;
  position: relative;
  color: #404bbf;
}

.logo-header-box {
  padding: 24px 0;
}

.logo-header-box-web {
  color: #2e2f42;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .logo-header-box {
    margin-right: 120px;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-link,
  .header-link-studio {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    margin-right: 24px 0;
    display: block;
    padding: 24px 0;
  }

  .header-link-studio {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link-studio::after {
    display: block;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover,
  .header-link:focus {
    color: #404bbf;
  }

  .header-contacts {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-contacts:hover,
  .header-contacts:focus {
    color: #404bbf;
  }

  .contacts-list-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .logo-header-box {
    margin-right: 76px;
  }

  .contacts-list-header {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  .header-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.menu-button-icon {
  display: block;
  fill: #2f2f37;
}

.menu-button {
  border: none;
  background-color: transparent;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover,
.menu-button:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-link .mobile-menu-link-studio {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  list-style-type: none;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #404bbf;
}

.mobile-menu-link-studio {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  list-style-type: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.mobile-contacts:hover,
.mobile-contacts:focus {
  color: #4d5ae5;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.socmedia-mobile-menu {
  display: flex;
  justify-content: start;
  gap: 40px;
}

.socmedia-mobile-item {
  width: 40px;
  height: 40px;
}

.socmedia-mobile-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.mobile-menu-close:hover svg,
.mobile-menu-close:focus svg {
  fill: #ffffff;
}

.menu-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .menu-button {
    display: none;
  }
}

.order-box {
  display: block;
  min-width: 320px;
  background-color: #2e2f42;
  align-items: center;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .order-box {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
}

.solutions-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.button-order {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  align-items: center;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .order-box {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .order-box {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
  }

  .solutions-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .solutions-title {
    max-width: 1158px;
    margin-bottom: 48px;
  }
  .section-one {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
}

.benefits-container {
  display: none;
}

.benefits-box {
  background-image: linear-gradient rgba(46, 47, 66, 0.7);
  padding-top: 96px;
  padding-bottom: 96px;
}

.benefit-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  max-width: 320px;
}

.benefit-list {
  width: 100%;
}

.benefit-list-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.benefit-list-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .benefits-box {
    background-size: 768px 504px;
  }

  .benefit-ul {
    max-width: 768px;
    flex-direction: row;
    gap: 72px 24px;
  }
  .benefit-list {
    width: 356px;
    width: calc((100% - 24px) / 2);
  }

  .benefit-list-h {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-box {
    padding: 120px 0;
    max-width: 1158px;
    gap: 24px;
  }

  .benefit-ul {
    max-width: 1158px;
  }

  .benefit-list {
    width: calc((100% - 72px) / 4);
  }

  .benefits-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .benefit-ul {
    display: flex;
    gap: 24px;
  }

  .benefit-list-h {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
}

.team-box {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-box .container {
  max-width: 678px;
  padding: 0 28px;
}

.team-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.emp-div {
  padding: 32px 0;
}

.team-item-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  gap: 72px;
}

.team-item-box {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.socmedia {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-link {
  width: 40px;
  height: 40px;
}

.team-soc-link-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link-a:hover,
.team-soc-link-a:focus {
  background-color: #404bbf;
}

.team-soc-link-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-item-list {
    max-width: 768px;
    gap: 64px 24px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .team-item-list {
    flex-wrap: nowrap;
    gap: 24px;
    max-width: 1158px;
  }
}

